@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ************ NAVBAR ************ */


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.navbar__list {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__link {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

.navbar__link--icon {
    display: flex;
    border-radius: 50%;
    padding: 10px;
}

.navbar__link--icon:hover {
    background-color: rgba(60,64,67,0.08);
}

.navbar__icon {
    width: 20px;
}

.navbar__li-icon {
    position: relative;
    z-index: 3;
}

.navbar__dropdown {
    display: none;
    background-color: white;
    box-shadow: 0 1px 10px rgb(32 33 36 / 28%);
    position: absolute;
    right: -130px;
    width: 300px;
    border-radius: 6px;
    /* Here I'm using 'padding-top' because 'top' create a space
    between the icon and the dropdown that when the user hover on that space, 
    the dropdown disappear (because I've realized that this space created by top 
    is not actually part of the li, and the dropdown only shows when the li is hovered) */
    padding: 20px 10px;

}

.navbar__dropdown img {
    width: 40px;
}

.navbar__dropdown div {
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.navbar__dropdown p {
    margin: 0;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    margin-top: 7px;
}

.navbar__dropdown div:hover {
    cursor: pointer;
    background-color: rgb(213, 229, 247);
}

.navbar__li-icon:hover .navbar__dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.navbar__sign-in {
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    padding: 9px 23px;
    border-radius: 4px;
}

.navbar__sign-in:hover {
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}


/* ************ SEARCH ************ */

.search {
    margin-top: 6px;
}

.search__logo {
    display: block;
    margin: auto;
    max-width: 300px;
}

.search__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    height: 44px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-image: url("../images/search.png");
    background-position: 17px 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 50px;
    padding-right: 20px;
}

.search__div:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);    
}

.search__form {
    min-width: 200px;
    width: 90%;
    height: 100%;
}

.search__input {
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
    height: 100%;
    color: rgba(0,0,0,.87);
    font-size: 14px;
}

.search__div-icons {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search__icon-dropdown {
    display: none;
    position: absolute;
    width: 120px;
    padding: 7px;
    left: -50px;
    top: 40px;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(255,255,255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

.search__icon-dropdown::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 55px;
    bottom: 24px;
    width: 7px;
    height: 7px;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(255,255,255);
    transform: rotate(-45deg);
}

.search__icon-dropdown::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 54px;
    bottom: 22px;
    width: 9px;
    height: 9px;
    background-color: rgb(45, 45, 45);
    /* border: 1px solid rgb(255,255,255); */
    transform: rotate(-45deg);
}

.search__link--icon:hover + .search__icon-dropdown {
    display: block;
}

.search__link--voicesearch:hover + .search__icon-dropdown::before {
    left: 90px;
}

.search__link--voicesearch:hover + .search__icon-dropdown::after {
    right: 19px;
}


.search__icon {
    width: 15px;
}
 
/* Setting a different width for the keyboard icon because 
it wasn't seem like the original icon */

.search__icon--keyboard {
    width: 20px;
}

.search__div-links {
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.search__link {
    color: #3c4043;
    font-size: 14px;
    padding: 10px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}

.search__link:hover {
    text-decoration: none;
    border: 1px solid rgb(218, 220, 224);
}


/* ************ FOOTER ************ */


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__list {
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link {
    padding: 15px;
    color: #70757a;
    font-size: 14px;
}

@media (max-width: 500px) {
    .search {
        margin-top: 20px;
    }

    .search__logo {
        max-width: 250px;
    }

    .search__div {
        margin: 20px 20px 0 20px;
    }

    .search__div-icons {
        width: 15%;
    }

    .footer {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .search {
        margin-top: 40px;
    }

    .search__div {
        margin-top: 40px;
    }
    
    .search__div-icons {
        width: 20%;
    }

    .search__form {
        min-width: 100px;
    }

    .search__div-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        margin: auto;
        margin-top: 40px;
    }
}